.serch_bar {
  position: fixed;
  top: 25px;
  z-index: 1;
  width: 100%;
  // line-height: 34px;

  .serch_bar_left {
    height: 34px;
    background-color: #fff;
    border-radius: 3px;
    margin-left: 20px;
    padding: 0 10px;
    flex: 1;

    .location {
      .icon-arrow {
        font-size: 12px;
        color: #7f7f80;
        margin-left: 3px;
        margin-right: 10px;
      }
    }

    .location_search {
      border-left: solid 1px #e5e5e5;
      padding-left: 10px;

      .icon-seach {
        vertical-align: middle;
        padding: 0 2px 0 8px;
        color: #9c9fa1;
        font-size: 15px;
      }

      span {
        padding-left: 4px;
        font-size: 13px;
        color: #9c9fa1;
      }
    }
  }

  .icon-map {
    font-size: 25px;
    color: #fff;
    padding: 0 10px;
  }
}

.index_nav {
  padding: 10px;
  background-color: #fff;
  .am-flexbox-item {
    text-align: center;
  }

  img {
    width: 48px;
  }

  p {
    margin-top: 7px;
    color: #333;
  }
}

.group {
  padding: 0 10px;

  .group_title {
    margin: 15px 0px 15px 10px;

    h3 {
      font-size: 15px;
    }

    p {
      color: #787d82;
    }
  }

  .am-grid {
    .am-flexbox {
      background-color: transparent;

      .am-grid-item {
        background-color: #fff;
        margin-bottom: 10px;

        &:first-child {
          margin-right: 10px;
        }

        img {
          width: 55px;
        }

        .am-grid-item-content {
          padding: 10px 10px;

          .group_item_text_title {
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 5px;
          }

          .group_item_text_info {
            font-size: 12px;
            color: #999;
          }
        }
      }
    }
  }
}
