body {
  font-family: 'Microsoft YaHei';
  color: #333;
  font-size: 14px;
}

body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
  touch-action: pan-y;
}
p {
  margin: 0;
}
h3 {
  margin: 0;
}

#root {
  height: 100%;
}
a {
  color: #333;
}
